.enable-hearts{
  position: relative;
}

.box {
  width: 300px;
  display: inline-block;
  height: 200px;

  background-color: blue;

  margin: 3px;
}

.ext-emotion {
    opacity: 0;
    position: relative;
    width:33px;
    height: 33px;
    position: absolute;
    right: 20px;
    top: 30px;

}

.ext-emotion:before {
  font-size: 25px;
}

.ext-emotion.sadness:before {
  content: "😭";
}

.ext-emotion.happy:before {
  content: "😀";
}

.ext-emotion.anger:before {
  content: "😡";
}

.ext-emotion.money:before {
  content: "🤑";
}

.ext-emotion.aubergine:before {
  content: "🍆";
}

.ext-emotion.poop:before {
  content:"💩";
}

.ext-emotion.movement0 {animation: 1s movement_0 ease-out;}
.ext-emotion.movement1 {animation: 1s movement_1 ease-out;}
.ext-emotion.movement2 {animation: 1s movement_2 ease-out;}
.ext-emotion.movement3 {animation: 1s movement_3 ease-out;}
.ext-emotion.movement4 {animation: 1s movement_4 ease-out;}

@keyframes movement_0 {from {right: 20px; opacity: 1; top: 30px; transform:rotate(0deg);} to {right: 20px; opacity: 0; top: 0px; transform:rotate(0deg);}}
@keyframes movement_1 {from {right: 20px; opacity: 1; top: 30px; transform:rotate(0deg);} to {right: 30px; opacity: 0; top: 0px; transform:rotate(-6deg);}}
@keyframes movement_2 {from {right: 20px; opacity: 1; top: 30px; transform:rotate(0deg);} to {right: 40px; opacity: 0; top: 0px; transform:rotate(-12deg);}}
@keyframes movement_3 {from {right: 20px; opacity: 1; top: 30px; transform:rotate(0deg);} to {right: 10px; opacity: 0; top: 0px; transform:rotate(6deg);}}
@keyframes movement_4 {from {right: 20px; opacity: 1; top: 30px; transform:rotate(0deg);} to {right:  0px; opacity: 0; top: 0px; transform:rotate(12deg);}}


.ext-emotion.heart:before,
.ext-emotion.heart:after {
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    width: 12px;
    height: 20px;
    background: red;
    -moz-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.ext-emotion.heart:after {
    left: 0;
    background-color: red;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
